<div id="content">
  <h1>Sobre el proyecto</h1>
  <div class="section about">
    <div class="image-box">
      <div class="image-box-image"><div class="rectangle-div"></div></div>
      <div class="image-box-text">
        <h2>Beneficios</h2>
        <ul>
          <li>• Fortalecimiento del trabajo de las empresas con su cadena de valor a través de la sensibilización e implementación concreta de procesos conjuntos que generan valor compartido.</li>
          <li>• Priorización de áreas de mejora de las empresas participantes del piloto, donde se clasificarán según su urgencia (áreas rojas) y según su importancia estratégica. Se considerarán también las oportunidades de mejora en áreas amarillas que puedan tener un alto impacto.</li>
          <li>• Durante la implementación la empresa podrá recurrir a los recursos de apoyo educativos disponibles en forma de guías, videos tutoriales, y mejores prácticas. Se le sugerirán asimismo herramientas o tecnologías que puedan ayudar en la implementación de las acciones.</li>
          <li>• La herramienta ayuda a las PYMEs a identificar áreas de mejora fomentando la eficiencia y reducción del desperdicio. También promueve y aporta elementos para revisar y rediseñar procesos con enfoque de circularidad.</li>
          <li>• Promueve la asociatividad para el logro de objetivos e incorporación de buenas prácticas, como ventaja competitiva y también pertinente en base a las tendencias y normativas actuales. En esta línea, la herramienta fomenta la colaboración entre empresas para el aprovechamiento de residuos y subproductos.</li>
        </ul>
   
  </div> 
 </div>
</div>