<table id="prices">
  <tr class="theaders">
    <th><i class="fa fa-flag"></i>País</th>
    <% @materials.each do |m| %>
    <th><i class="fa fa-recycle"></i><%= m.name %></th>
    <% end %>
  </tr>
  <% @countries.each do |c| %>
  <tr>
    <td class="name"><%= c.name %></td>
    <% @materials.each do |m| %>
    <td>
      <% price = Price.where(buyer_id: c.id, material_id: m.id ).pluck(:value) %>
      <span class="minmax">100 - 200</span>
      <%= price.present? ? "#{price.first} $" : '' %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>