@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  	
  	/* Color */
  	--color-seagreen: #1b4b45;
  	--color-white: #fff;
  	--color-darkseagreen: #8fb89f;
    --color-gray: #2c2c2c;
    --color-darkslategray: #193154;
    --Grises-Gris-04: #C6C6C6;
    --Grises-Gris-05: #E2E2E2;
    --Grises-Gris-06: #F5F5F5;
  	
  	/* Font */
  	--font-work-sans: Work Sans;
  	--font-inter: Inter;
  	
  	/* FontSize */
  	--font-size-12: 12px;
  	
}

body {
  font-family: var(--font-inter);
  color: var(--color-gray);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-decoration: none;
  font-family: "Work Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  gap: 10px;
}

h1 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  font-family: var(--font-work-sans);
  color: var(--color-black);
  text-align: left;
}
h2 {
  color: var(--Grises-Gris-02, #2C2C2C);
  font-family: "Work Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
}
table {
  width: 100%;
}
li {
  list-style-type: none;
}
#content {
  padding: 0 50px;
}
.fa {
  margin-right: 10px;
}
/** HEADER **/
.header-inner {
  display: flex;
  background-color: var(--color-seagreen);
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 20px;
  a {
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    .selected {
      color: var(--color-darkseagreen);
    }
  }
}
.select-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  border-radius: 4px;
  border: 1px solid var(--Grises-Gris-04, #C6C6C6);
}
/** PAGE **/
.header {
  padding: 20px 50px;
  background-color: var(--color-darkseagreen);
  margin-bottom: 50px;
}
th {
  font-weight: 400;
  padding: 18px 16px;
  &:first-child {
    font-weight: 600;
    line-height: 16px;
    text-align: left;
  }
}
.theaders td {
  padding: 18px 0;
}
td {
  padding: 16px 0;
  text-align: center;
  font-size: 12px;
}
td:first-child {
  padding-left:16px;
  text-align: left;
}

.action button {
  font-weight: 600;
  color: var(--color-seagreen);
}
/** BUYERS PAGE **/
#filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  gap: 20px;
  flex-wrap: wrap;
  .select-filter {
    position: relative;
    .fa {
      position: absolute;
      z-index: 1;
      top: 14px;
      left: 16px;
    }
    .ss-main {
      padding: 10px 16px 10px 34px;
    }
  }

}
#buyers {
  tbody{
    border: 1px solid var(--Grises-Gris-06, #F5F5F5);
    tr {
      border-bottom: 1px solid var(--Grises-Gris-06, #F5F5F5);
    }
    .country td {
      padding: 20px 16px;
      &.name {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        text-align: left;
        a {
          color: var(--color-gray);
        }
      }
    }
    .buyers {
      display: none;
      td {
        padding: 12px 16px;
        &.name {
          font-size: 12px;
          font-weight: 600;
          line-height: 14px;
          text-align: left;
          a {
            color: var(--color-seagreen);
          }
        }
      }
    }
    .requirements {
      display: none;
      td {
        padding: 8px 16px;
        border-bottom: 1px solid var(--Grises-Gris-06);
        background: var(--Grises-Gris-05);
      }
    }
  }
}
.semaphore {
  display: flex;
  gap: 3px;
  padding: 5px;
  border-radius: 2px;
  justify-content: center;
}
.fade {
  opacity: 0.1;
}
.green {
  background-color: #3EB076;
}
.yellow {
  background-color: #F7EC5B;
}
.red {
  background-color: #F63B3B;
}
.circle {
  border-radius: 50%;
  min-width: 24px;
  min-height: 24px;
  display: block;
}
/* PRICE PAGE */
.prices {
  #content {
    overflow: scroll;
  }
  #filters {
    justify-content: flex-start;
    td {
      min-width: 100px;
    }
  }
  .price-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    .price-head {
      display: flex;
      flex-direction: column;
      line-height: 16px;
      min-width: 122px;
      gap: 7px;
    }
    .price-action {
      position: relative;
    }
    .tooltip {
      display: none;
      position: absolute;
      min-width: 180px;
      word-break: break-word;
      bottom: 0px;
      left: 30px;
      padding: 8px;
      border-radius: 8px;
      background: var(--Grises-Gris-05);
      z-index: 1;
    }
    .tooltip::before {
      background: var(--Grises-Gris-05);
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      left: -6px;
      bottom: 16px;
      transform: rotate(45deg);
      z-index: 1;

    }
    .tooltip.active {
      display: flex;
      flex-direction: column;
    }
  }
}

/* BUYERS SHOW PAGE */
.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  .info-right {
    width: 50%;
  }
  li {
    margin-top: 10px;
  }
  .semaphore {
    padding-left: 0;
    justify-content: flex-start;
  }
}
#buyers-reqs {
  border-bottom: 1px solid var(--Grises-Gris-06, #F5F5F5);
  background: var(--Grises-Gris-06, #F5F5F5);
}
